@model Cumulative1.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2>@Model.TeacherFName @Model.TeacherLName</h2>
<p>Employee Number: @Model.EmployeeNumber</p> 
<p>Date of Hire: @Model.HireDate</p>
<p>Salary: @Model.Salary</p>

